#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 0.5rem;
  color: white;
  position: fixed;
  top: 0;
  left :0;
  width: 100%;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.expense-item{
  display: flex;
  flex-direction: column;
  border: 2px solid;
}